apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# STABLE SRI WORKING VERSION:
# - name: ghcr.io/vivarium-collective/sms-api
#   newTag: 0.2.15-dev

namespace: sms-api-rke-temp

images:
  - name: ghcr.io/biosimulations/sms-api
    newTag: 0.2.46-dev  # 0.2.30-dev
  - name: ghcr.io/vivarium-collective/pathway-tools
    newTag: 0.1.0

replicas:
  - count: 1
    name: api
  - count: 1
    name: ptools
  - count: 0
    name: nats
  - count: 1
    name: redis

resources:
#  - ingress.yaml
  - api-cache-pvc.yaml
  - nats-svc.yaml
  - haproxy-ssh-svc.yaml
  - secret-ghcr.yaml
  - secret-shared.yaml
  - secret-ssh.yaml
  - ../../config/sms-api-rke
  - ../../base
