apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# STABLE SRI WORKING VERSION:
# - name: ghcr.io/vivarium-collective/sms-api
#   newTag: 0.3.3

namespace: sms-api-rke-dev

images:
  - name: ghcr.io/vivarium-collective/sms-api
    newTag: 0.3.3
  - name: ghcr.io/vivarium-collective/sms-ptools
    newTag: 0.3.3

replicas:
  - count: 1
    name: api
  - count: 1
    name: ptools
  - count: 1
    name: redis

resources:
  - ingress.yaml
  - redis-svc.yaml
  - haproxy-ssh-svc.yaml
  - vivarium-home-dev-pv.yaml
  - vivarium-home-pvc.yaml
  - secret-ghcr.yaml
  - secret-shared.yaml
  - secret-ssh.yaml
  - ../../config/sms-api-rke-dev
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/volumeMounts/0
        value:
          name: vivarium-home-pvc
          mountPath: /projects/SMS
          subPath: SMS
    target:
      kind: Deployment
      name: api
  # supplementalGroups: 10274=smsgroup, 10281=sms_api, 10269=vivarium
  - patch: |-
      - op: add
        path: /spec/template/spec/securityContext/supplementalGroups
        value:
          - 10274
          - 10281
          - 10269
    target:
      kind: Deployment
      name: api
