apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sms-api-eks

images:
  - name: ghcr.io/biosimulations/sms-api
    newTag: 0.2.45-dev  # 0.2.30-dev

replicas:
  - count: 1
    name: api
  - count: 0
    name: haproxy-ssh

resources:
  - ingress.yaml
  - storageclass-gp3-retain.yaml
  - api-cache-pvc.yaml
  - nats-svc.yaml
  - secret-ghcr.yaml
  - secret-shared.yaml
  - secret-ssh.yaml
  - ../../config/sms-api-eks
  - ../../base

patches:
  - patch: |-
      - op: remove
        path: /spec/template/spec/nodeSelector
    target:
      kind: Deployment
      name: api
