apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-config
data:
  haproxy.cfg: |
    global
        maxconn 100

    defaults
        mode tcp
        timeout connect 60s
        timeout client  5m
        timeout server  5m

    frontend ssh_proxy
        bind *:22
        default_backend slurm_submit_nodes

    backend slurm_submit_nodes
        balance roundrobin
        server submit1 mantis-sub-1.cam.uchc.edu:22 check
        server submit2 mantis-sub-2.cam.uchc.edu:22 check
        server submit3 mantis-sub-3.cam.uchc.edu:22 check
        server submit4 mantis-sub-4.cam.uchc.edu:22 check
        server submit5 mantis-sub-5.cam.uchc.edu:22 check
        server submit6 mantis-sub-6.cam.uchc.edu:22 check
        server submit7 mantis-sub-7.cam.uchc.edu:22 check
