apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sms-api-local

images:
  - name: ghcr.io/vivarium-collective/sms-api
    newTag: 0.2.44-dev
    # STABLE: newTag: 0.2.8

replicas:
  - count: 1
    name: api

resources:
  - ingress.yaml
  - api-cache-pvc.yaml
  - nats-svc.yaml
  - haproxy-ssh-svc.yaml
  - vivarium-home-pv.yaml
  - vivarium-home-pvc.yaml
  - mongodb-pvc.yaml
  - secret-ghcr.yaml
  - secret-shared.yaml
  - secret-ssh.yaml
  - ../../config/sms-api-rke
  - ../../base
