apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sms-api-local

images:
  - name: ghcr.io/vivarium-collective/sms-api
    newTag: 0.3.3

replicas:
  - count: 1
    name: api
  - count: 1
    name: ptools
  - count: 1
    name: redis

resources:
  - ingress.yaml
  - redis-svc.yaml
  - haproxy-ssh-svc.yaml
  - vivarium-home-pv.yaml
  - vivarium-home-pvc.yaml
  - mongodb-pvc.yaml
  - secret-ghcr.yaml
  - secret-shared.yaml
  - secret-ssh.yaml
  - ../../config/sms-api-rke
  - ../../base
