name: Build and Push Docker Images

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to build and push (optional)"
        required: false
        default: ""
      service:
          description: "Service to build and push (optional, choose one of: api || ptools)"
          required: false
          default: "api"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required for pushing to ghcr.io

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry (ghcr.io)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # - name: Make script executable
      #   run: chmod +x ./scripts/build_action.sh
      - name: Make script executable
        run: chmod +x ./scripts/github_action_build.sh

      - name: Run build and push script
        run: |
          ./scripts/github_action_build.sh "${{ inputs.version }}"
